In [42]:
#import libs
import statistics
import pandas as pd
import numpy as np
from scipy.stats import kurtosis
from scipy.stats import pearsonr

In [18]:
titanic_df=pd.read_csv("titanic.csv")
print(titanic_df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [36]:
#Central tendency
print(titanic_df['Age'].mean())
print(titanic_df['Age'].median())
print(titanic_df['Age'].mode())

29.69911764705882
28.0
0    24.0
dtype: float64

In [44]:
#Variability
print( "Maxval:",np.max(titanic_df['Age']) )
print( "Minval:",np.min(titanic_df['Age']) )
print( "Range:",np.max(titanic_df['Age'])-np.min(titanic_df['Age']) )
print( "Standard deviation:",np.std(titanic_df['Age']) )
print( "Variance:",np.var(titanic_df['Age']) )
print( "Kurtosis:",scipy.stats.kurtosis(titanic_df['Fare'],fisher=False) )
print( "skewness:",)
print( "Pearson:", )

Maxval: 80.0
Minval: 0.42
Range: 79.58
Standard deviation: 14.516321150817316
Variance: 210.72357975366614
Kurtosis: 36.20428925264474
skewness:
Pearson: